/*******************
 Breadcrumb and page title
*******************/

.page-titles {
  padding: 30px;
  max-width: $page-wrapper-width;
  margin-left: auto;
  margin-right: auto;
  .breadcrumb {
    background-color: transparent;
  }
}

.breadcrumb {
  &.bg-light-info,
  &.border-info {
    .breadcrumb-item + .breadcrumb-item::before {
      color: $info;
    }
  }
}

.breadcrumb {
  &.bg-light-primary,
  &.border-primary {
    .breadcrumb-item + .breadcrumb-item::before {
      color: $primary;
    }
  }
}

.breadcrumb {
  &.bg-light-warning,
  &.border-warning {
    .breadcrumb-item + .breadcrumb-item::before {
      color: $warning;
    }
  }
}

.breadcrumb {
  &.bg-light-danger,
  &.border-danger {
    .breadcrumb-item + .breadcrumb-item::before {
      color: $danger;
    }
  }
}

.breadcrumb {
  &.bg-light-success,
  &.border-success {
    .breadcrumb-item + .breadcrumb-item::before {
      color: $success;
    }
  }
}
