// #############################
// Theme Colors
// #############################

$themecolor: #1a9bfc;
$theme-light: #fff;
$theme-dark: #212529;
//$background-alt: #26c6da;

$main-body-bg: #fff !default;

// #############################
// Skins For changing sidebar and logo bg colors
// #############################
$skin1: #1a9bfc;
$skin2: #1e4db7;
$skin3: #fc4b6c;
$skin4: #39cb7f;
$skin5: #282c34;
$skin51: #282c34;
$skin6: #fff;

// #############################
// Shadow default
// #############################

$shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);

// #############################
// Transitions
// #############################

$transitions: 0.2s ease-in;
$transparent-dark-bg: rgba(0, 0, 0, 0.05);

$page-wrapper-width: 1600px;

// #############################
// Preloader settings here
// #############################
$spinner-width: 30px;
$spinner-height: 30px;
$spinner-position: calc(50% - 3.5px);

// #############################
// Header settings here
// #############################

/// height-width setting
$topbar: $theme-light;
$topbar-height: 70px;
$topbar-navlink-height: 70px;
$mega-dd-height: 480px;
$topbar-dropdown-width: 385px;
$horizontal-navbar-brand-width: 260px;
$stylish-border-radius: 20px;
$stylish-gutter-width: 30px;

/// pading setting
$topbar-navlink-padding: 0px 0.75rem;
$topbar-togglar-padding: 0 0.75rem;
$navbar-collapse-padding: 0px 10px 0 0;
$topbar-navbrand-padding: 0 35px;
$mini-topbar-navbrand-padding: 0 15px;
$minisidebar-topbar-navbrand-padding: 0px 20px 0px 20px;
$horizontal-pagewrapper-padding-top-sm: 78px;
$horizontal-pagewrapper-padding-top-lg: 125px;
$horizontal-boxed-page-breadcrumb-padding-lg: 25px 0 0;
$horizontal-boxed-page-breadcrumb-container-padding-lg: 20px 10px;

/// font-size setting
$topbar-navlink-font-size: 24px;
$topbar-navlink-text-size: 16px;

// #############################
// Sidebar Settings here
// #############################
/// Text color setting
$sidebar: $theme-light;
$sidebar-alt: #e8eff0;
$sidebar-text: #fff;
$sidebar-icons: #fff;
$sidebar-text-dark: #647279;
$sidebar-icons-dark: #757575;
$sidebar-cap-dark: #bcc3d3;

/// font-size setting
$sidebar-icon-size: 20px;
$sidebar-first-level-icon-size: 16px;
$sidebar-footer-text-size: 18px;
$sidebar-link-font-size: 16px;
$nav-small-cap-font-size: 0.875rem;

/// Line height setting
$sidebar-link-line-height: 25px;
$sidebar-icon-line-height: 25px;

/// sidebar height-width setting
$sidebar-width-full: 260px;
$sidebar-width-iconbar: 180px;
$sidebar-width-mini: 65px;
$sidebar-icon-width: 21px;
$sidebarheight: 60px;
$sidebar-li-width: 220px;
$sidebar-first-level-width: 400px;

/// sidebar links padding setting
$sidebar-link-padding: 11px 12px;
$rtl-sidebar-link-padding: 11px 12px;
$minisidebar-link-padding: 14px 12px;
$rtl-minisidebar-link-padding: 14px 12px;
$sidebar-first-level-padding: 10px 0 0 5px;
$minisidebar-first-level-padding: 0 0 10px;
$minisidebar-link-first-level-padding: 10px 12px;
$sidebar-first-level-link-padding: 10px 35px 10px 15px;
$rtl-minisidebar-link-first-level-padding: 10px 12px 10px 35px;
$rtl-sidebar-first-level-link-padding: 10px 20px 10px 35px;
$sidebar-footer-inner-padding: 15px;
$sidebar-notibadge-inner-padding-x: 10px;
$nav-cap-padding: 14px 14px 0 14px;
$minisidebar-nav-cap-padding: 14px 14px 14px 14px;

/// User Profile img setting
$profile-pic-width-full: 50px;
$profile-pic-width-mini: 35px;

/// box shadow setting
$horizontal-list-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);

// #############################
// Page Layout Settings
// #############################

$boxed-width: 1300px; // boxed layout width
$page-wrapper-container-padding: 25px;
$container-min-height: calc(100vh - 180px);
$footer-padding: 17px 15px;
$lft: left;
$rgt: right;

// #############################
// Sticky Left & Right Sidebar
// #############################
$left-part-width: 260px;
$right-part-width: calc(100% - 260px);
$right-part-height: calc(100vh - 72px);

$font-weight-medium: 500;

// #############################
// Card Setting
// #############################
$card-margin-bottom: 30px;
$card-title-bottom: 10px;
$card-subtitle-bottom: 10px;

// table
$table-th-color: #99abb4;

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//
// Dark Theme Colors Settings
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^//
$theme-dark-bg-layout: #282c34;
$theme-dark-text-color: #e6e5e8 !default;
$theme-dark-text-color2: #adb0bb !default;
$theme-dark-border-color: rgba(255, 255, 255, 0.2) !default;
$theme-dark-focus-border-color: rgba(255, 255, 255, 0.4) !default;
$theme-dark-card-bg: #282c34;
$theme-dark-bg-light: #151c29;
$main-body-bg-dark: $gray-900 !default;
$background-alt: #2b2b2b !default;
