.welcome-card2::before {
  content: "";
  background-image: url("../../assets/images/background/welcome-bg.png");
  background-repeat: no-repeat;
  background-position: left 19px center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1500px) {
  .welcome-card2 {
    background-position: right -237px center !important;
  }
}

@include media-breakpoint-only(md) {
  .welcome-card2 {
    background-position: right -195px center !important;
  }
}

// #product-performance {
//   .apexcharts-series[seriesName="Budget"] {
//     path {
//       clip-path: circle(60% at 54% 37%) !important;
//     }
//   }
// }
